<div class="content">
    <app-display-brands></app-display-brands>
    <app-display-products title="Mais relevantes" ordination="bestsellers"></app-display-products>
    <app-display-products title="Mais recentes" ordination="latest"></app-display-products>
    <app-display-products title="Melhores preços" ordination="cheaper"></app-display-products>
    <app-display-products title="Em promoção" ordination="biggestdiscount"></app-display-products>
    <app-display-products title="Mais luxuosos" ordination="moreexpensive"></app-display-products>
</div>