<main>
    <section>
        <header>
            <div class="container vertical-align space-between">
                <h1 class="title-page">Seus Produtos</h1>
                <button class="btn" color="purple" (click)="router.navigateByUrl('/product/create')" matRipple>CRIAR NOVO</button>
            </div>
            <div class="container vertical-align space-between">
                <div class="total-elements" matRipple>
                    <h1 class="total">{{ totalElements }}</h1>
                    <span class="label">Total cadastrado</span>
                </div>
                <div class="input-search" matRipple>
                    <mat-icon>search</mat-icon>
                    <input type="text" class="search" [formControl]="formSearch" placeholder="Pesquisar produtos">
                </div>
            </div>
        </header>
        <app-empty-data 
            *ngIf="listProducts.isEmpty()" 
            [search]="formSearch.value" 
            message="Clique em CRIAR NOVO para adicionar novos produtos" 
            title="Nenhum resultado encontrado :("
        ></app-empty-data>
        <table class="ui-table default" *ngIf="!listProducts.isEmpty()">
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Marca</th>
                <th>Preço à vista</th>
                <th>Atualizado</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{ product.code }}</td>
                <td>
                    <div class="product-description">
                        <img class="image-product" [src]="product.images[0].url" [alt]="product.name">
                        {{ product.name | smalltext: '20' }}
                    </div>
                </td>
                <td>{{ product.brand.name }}</td>
                <td>{{ product.pricing.incashPrice | currency: 'BRL' }}</td>
                <td>{{ product.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="goToCheckoutProduct.run(product.code)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination></app-pagination>
    </section>
</main>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>