<section class="content">
    <mat-stepper linear="true" orientation="vertical">
        <mat-step label="Informações Gerais">
            <app-general-info-product #componentGeneralInfo></app-general-info-product>
        </mat-step>
        <mat-step label="Dimenssões do produto">
            <app-product-measurements #componentMeasurements></app-product-measurements>
        </mat-step>
        <mat-step label="Variações do produto">
            <app-add-product-versions #componentProductVersions></app-add-product-versions>
            <div class="row">
                <button class="btn" color="light" matStepperPrevious>ANTERIOR</button>
                <button class="btn" color="purple" matStepperNext>PRÓXIMO</button>
            </div>
        </mat-step>
        <mat-step label="Especificações do produto">
            <app-add-specification #componentSpecifications></app-add-specification>
            <button class="btn" color="light" matStepperPrevious>ANTERIOR</button>
            <button class="btn" color="purple" matStepperNext>PRÓXIMO</button>
        </mat-step>

        <mat-step label="Precificação do produto">
            <app-generate-pricing #componentGeneratePricing></app-generate-pricing>
            <button class="btn" color="light" matStepperPrevious>ANTERIOR</button>
            <button class="btn" color="purple" matStepperNext>PRÓXIMO</button>
        </mat-step>
        <mat-step label="Adicione imagens">
            <app-upload-image #componentUploadImage></app-upload-image>
            <button class="btn" color="light" matStepperPrevious>ANTERIOR</button>
            <button class="btn" color="purple" matStepperNext>PRÓXIMO</button>
        </mat-step>
        <mat-step label="Tudo Pronto">
            <div class="complete-registration">
                <img src="/assets/img/svg/completing_re_i7ap.svg" alt="Complete registration" width="120px">
                <p>Seu produto está pronto para ser anunciado</p>
                <button 
                    class="btn" 
                    color="success" 
                    (click)="create.run(
                        componentGeneralInfo.form,
                        componentMeasurements.getMeaurements(),
                        componentProductVersions.getProductVersions(),
                        componentSpecifications.getSpecifications(),
                        componentGeneratePricing.getPricing(),
                        componentUploadImage.getImages()
                    )"
                >
                    FINALIZAR ANÚNCIO
                </button>
            </div>
        </mat-step>
    </mat-stepper>
</section>