<main>
    <section>
        <header>
            <h1 [matBadge]="totalElements" matBadgeColor="accent">Cores cadastradas</h1>
            <button class="btn-icon" color="purple" (click)="router.navigateByUrl('/colors/create')" matRipple>
                <i class="material-icons">add</i>
            </button>
            <div class="input-search" matRipple>
                <mat-icon>search</mat-icon>
                <input type="text" class="search" [formControl]="formSearch" placeholder="Pesquisar cores">
            </div>
        </header>
        <app-empty-data 
            *ngIf="listColors.isEmpty()" 
            [search]="formSearch.value" 
            message="Clique em + para criar novas cores" 
            title="Nenhum resultado encontrado :("
        ></app-empty-data>
        <table class="ui-table stripped" *ngIf="!listColors.isEmpty()">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Código Hexadecimal</th>
                <th>Visualização</th>
                <th>Atualizado</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let color of colors">
                <td>{{ color.id }}</td>
                <td>{{ color.name }}</td>
                <td>{{ color.hexCode }}</td>
                <td>
                    <app-color-preview [name]="color.name" [hexCode]="color.hexCode"></app-color-preview>
                </td>
                <td>{{ color.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button matTooltip="Editar esta cor?">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination></app-pagination>
    </section>
</main>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>