@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

@import url('/src/assets/css/flexbox.css');
@import url('/src/assets/css/table.css');
@import url('/src/assets/css/colors.css');
@import url('/src/assets/css/input-search-table.css');
@import url('/src/assets/css/total-elements.css');

main {
    padding: 3%;
    background-color: rgb(var(--gray-2));
    min-height: 94%;
    overflow-y: auto;
}

section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header {
    padding: 5px 0 20px 0;
}

header h1.title-page {
    font-size: 1.95em;
    font-family: 'Sen', sans-serif;
    max-width: min-content;
    white-space: nowrap;
    margin: 0;
}

table tr td:nth-child(1) {
    width: 5%;
    font-weight: bold;
    font-family: 'Blinker', sans-serif;
    font-size: 1.05em;
}

table tr td:nth-child(2) {
    width: 20%;
}