<main>
    <section>
        <header>
            <div class="container vertical-align space-between">
                <h1 class="title-page">Suas Cores</h1>
                <button class="btn" color="purple" (click)="router.navigateByUrl('/colors/create')" matRipple>CRIAR NOVA</button>
            </div>
            <div class="container vertical-align space-between">
                <div class="total-elements" matRipple>
                    <h1 class="total">{{ totalElements }}</h1>
                    <span class="label">Total cadastrado</span>
                </div>
                <div class="input-search" matRipple>
                    <mat-icon>search</mat-icon>
                    <input type="text" class="search" [formControl]="formSearch" placeholder="Pesquisar cores">
                </div>
            </div>
        </header>
        <app-empty-data 
            *ngIf="listColors.isEmpty()" 
            [search]="formSearch.value" 
            message="Clique em CRIAR NOVA para criar novas cores" 
            title="Nenhum resultado encontrado :("
        ></app-empty-data>
        <table class="ui-table stripped" *ngIf="!listColors.isEmpty()">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Código Hexadecimal</th>
                <th>Visualização</th>
                <th>Atualizado</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let color of colors">
                <td>{{ color.id }}</td>
                <td>{{ color.name }}</td>
                <td>{{ color.hexCode }}</td>
                <td>
                    <app-color-preview [name]="color.name" [hexCode]="color.hexCode"></app-color-preview>
                </td>
                <td>{{ color.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button matTooltip="Editar esta cor?">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination></app-pagination>
    </section>
</main>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>