<section class="cards-product">
    <header class="header">
        <div class="title">
            <mat-icon>home</mat-icon>
            <span>{{ department }}</span>
            <mat-icon>chevron_right</mat-icon>
            <span>{{ category }}</span>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Ordenar por</mat-label>
            <mat-select (valueChange)="orderBy.run($event, '/catalog/view')">
                <mat-option *ngFor="let ordination of orderBy.ordinations" [value]="ordination">
                    {{ ordination.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </header>
    <div class="grid">
        <div class="card-product-default" *ngFor="let product of products">
            <div class="card-product-header">
                <button mat-icon-button class="no-shadow">
                    <mat-icon>favorite</mat-icon>
                </button>
                <app-star-rater [ratingAverage]="product.ratingAverage" [numberOfRaters]="product.numberOfRaters"></app-star-rater>
            </div>
            <div class="main-image">
                <img class="product-image" [src]="product.images[0].url" alt="Main Image">
            </div>
            <div class="card-product-body">
                <p class="product-name">{{ product.name }}</p> 
                <p class="previous-prince">De.: {{ product.pricing.basePrice | currency: 'BRL' }}</p>
                <div class="incash-price-row">
                    <p class="incash-price-label">Por.:</p>
                    <h1 class="incash-price">{{ product.pricing.incashPrice | currency: 'BRL' }}</h1>
                </div>
                <p class="incash-discount">
                    <span class="discount-percent">{{ product.pricing.rateIncashDiscount | percent }} OFF</span>
                    á vista no PIX
                </p>
                <p class="product-max-installment">
                    Ou em até 
                    <span class="value-installment">
                        {{ product.pricing.maxInstallment }} x de {{ product.pricing.installments[product.pricing.maxInstallment - 1].amount | currency: 'BRL'}}
                    </span> 
                    sem juros no cartão
                </p>
                <button class="btn" color="pink" block="true" (click)="goToCheckoutProduct.run(product.code)" matRipple>QUERO COMPRAR</button>
            </div>
        </div>
    </div>
</section>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>