div.container {
    display: flex;
    column-gap: 2%;
    margin: 15px 0;
    width: 100%;
}

div.vertical-align {
    align-items: center;
}

div.horizontal-align {
    justify-content: center;
}

div.space-between {
    justify-content: space-between;
}