div.row {
    display: flex;
    column-gap: 2%;
    margin: 1% 0;
    width: 100%;
}

div.row-content {
    margin: 0 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.25%;
}