@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

@import url('./colors.css');

div.input-search {
    background-color: rgb(var(--gray-2));
    position: relative;
    width: 210px;
    height: 38px;
    border-radius: 4px;
}

div.input-search input.search {
    width: 90%;
    height: 100%;
    border: none;
    color: rgb(var(--gray-7));
    padding-left: 5%;
    font-family: 'Maven Pro', sans-serif;
    background-color: transparent;
}

div.input-search input.search:focus {
    outline: none;
}

div.input-search mat-icon {
    position: absolute;
    right: 7px;
    top: 7px;
    color: rgb(var(--gray-6));
}