body *::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
}
  
body *::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: rgb(var(--white));
}
  
body *::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb  {
    background-color: rgb(var(--gray-4));
    border: none;
}