div.stars {
    transition: transform 0.2s;
}

div.stars span {
    cursor: pointer;
}

div.stars span.unchecked {
    color: rgb(var(--gray-6));
}

div.stars span.checked {
    color: rgb(var(--orange));
}