@import url('./animations.css');

div.stars {
    transition: transform 0.2s;
}

div.stars span {
    cursor: pointer;
}

div.stars span.unchecked {
    color: #afac96;
}

div.stars span.checked {
    color: #f0d90a;
}