@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('./colors.css');

/* Estilização das tabelas */
table.ui-table {
    padding: 2%;
    border-collapse: collapse;
    width: 100%;
}

table.ui-table tr td {
    padding: 0.5% 1%;
    text-align: left;
    animation: down 0.4s;
    font-family: 'Mulish', sans-serif;
    font-size: 0.99em;
    color: rgb(var(--gray-8));
}

table.ui-table tr th {
    color: rgb(var(--gray-6));
    font-family: 'Blinker', sans-serif;
    font-size: 1.05em;
    padding: 1%;
    text-align: left;
    font-weight: normal;
    border-top: 1.45pt solid rgb(var(--gray-2));
    text-transform: uppercase;
}

table.ui-table tr {
    color: rgb(var(--gray-6));
}

table.ui-table tr:nth-child(even) {
    background-color: rgb(var(--gray-1));
}

table.ui-table tr {
    cursor: pointer;
}