@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Estilização das tabelas */
table.ui-table {
    padding: 2%;
    border-collapse: collapse;
    width: 100%;
}

table.ui-table tr td, table tr th {
    padding: 6px 3px;
    text-align: left;
}

table.ui-table tr th {
    color: rgb(var(--dark));
    font-family: 'Karla', sans-serif;
    font-size: 0.99em;
}

table.ui-table tr {
    border-bottom: 1px solid rgb(var(--gray-2));
    color: rgb(var(--gray-6));
}

table.ui-table tr:nth-child(even) {
    background-color: rgba(var(--purple), 0.05);
}

table.ui-table tr {
    cursor: pointer;
}

table.ui-table tr td img {
    width: 60px;
    height: 60px;
}

table.ui-table tr td {
    animation: down 0.4s;
    font-family: 'Open Sans', sans-serif;
}