@import url('../src/assets/css/card.css');
@import url('../src/assets/css/buttons.css');
@import url('../src/assets/css/stars.css');
@import url('../src/assets/css/badge.css');
@import url('../src/assets/css/ripple.css');
@import url('../src/assets/css/alerts.css');
@import url('../src/assets/css/upload.css');
@import url('../src/assets/css/animations.css');
@import url('../src/assets/css/table.css');
@import url('../src/assets/css/list-property.css');
@import url('../src/assets/css/grid.css');
@import url('../src/assets/css/scroll-bar.css');
@import url('../src/assets/css/header-page.css');

@import '~ngx-toastr/toastr';
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-pulse.css";

@import '../node_modules/swiper/swiper.min.css';
@import '../node_modules/swiper/modules/navigation/navigation.min.css';
@import '../node_modules/swiper/modules/pagination/pagination.min.css';
@import '../node_modules/swiper/modules/effect-coverflow/effect-coverflow.less';
@import '../node_modules/swiper/modules/zoom/zoom.min.css';
@import '../node_modules/swiper/modules/thumbs/thumbs.min.css';

.no-shadow {
    box-shadow: none;
}

.width-fix {
    width: 100%;
}

mat-error, mat-hint {
    font-size: 1.2em;
    padding: 0.4em 0;
    width: 100%;
    margin-left: -16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }