<section>
    <header class="top-bar">
        <div class="logotipo">
            <img class="logo" src="/assets/logotipo/lymagazine.png" alt="Logotipo">
        </div>
        <div class="search">
            <div class="input-search">
                <input 
                    type="text" 
                    placeholder="Informe o que você deseja comprar"
                    [formControl]="search"
                    [matAutocomplete]="auto"
                >
                <button mat-icon-button color="primary">
                    <mat-icon>search</mat-icon>
                </button> 
            </div>
            <mat-autocomplete 
                class="autocomplete" 
                autoActiveFirstOption 
                (optionSelected)="navigateByProductName($event.option.value.name)" 
                #auto="matAutocomplete" 
                [displayWith]="displayFn"
            >
                <mat-option *ngFor="let product of products" [value]="product">
                    {{ product.name | smalltext : '50' }}
                </mat-option>
            </mat-autocomplete>
        </div>
        <nav class="nav-bar">
            <ul>
                <li class="menu-item" *ngFor="let route of routes" matRipple>
                    <mat-icon>{{ route.icon }}</mat-icon>
                    <p>{{ route.name }}</p>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="departments">
        <ul class="list-departments">
            <li 
                matRipple 
                *ngFor="let department of departments" 
                [matMenuTriggerFor]="menu"
                #menuTrigger="matMenuTrigger"
                (mouseover)="menuTrigger.openMenu()"
                
            >
                {{ department.name }}
                <mat-menu #menu="matMenu">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                        <button 
                            mat-menu-item 
                            *ngFor="let category of department.categories"
                            (click)="navigateByCategory(category.name)"
                        >
                            {{ category.name }}
                        </button>
                    </span>
                </mat-menu>
            </li>
        </ul>
    </nav>
</section>