@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

section {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgb(var(--dark-1));
}

header.top-bar {
    width: 96%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.top-bar div.logotipo,
header.top-bar div.search,
header.top-bar nav.nav-bar {
    width: 100%;
}

header.top-bar img.logo {
    width: 180px;
    cursor: pointer;
}

header.top-bar div.search div.input-search {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    border-radius: 6px;
    width: 96%;
}

header.top-bar div.search div.input-search input {
    border: none;
    padding: 2%;
    width: 96%;
    font-size: 1.12em;
    color: rgb(var(--gray-7));
    font-family: 'Inter', sans-serif;
}

header.top-bar div.search div.input-search input:focus {
    outline: none;
}

nav.departments {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(var(--pink));
}

nav.departments ul.list-departments {
    list-style: none;
    display: flex;
    color: rgb(var(--gray-4));
    padding: 14px;
}

nav.departments ul.list-departments li {
    padding: 12px 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif !important;
    transition: all 0.5s;
    position: relative;
}

nav.departments ul.list-departments li:hover {
    background-color: rgb(var(--dark));
}

header.top-bar nav.nav-bar {
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

header.top-bar nav.nav-bar ul {
    display: flex;
    list-style: none;
}

header.top-bar nav.nav-bar ul li {
    padding: 2px;
}

header.top-bar nav.nav-bar ul li button {
    color: rgb(var(--pink)) !important;
}