:root {
    --primary: 49, 124, 245;
    --danger: 255, 68, 68;
    --secondary: 79, 38, 175;
    --info: 51, 181, 229;
    --warning: 230, 209, 15;
    --success: 12, 223, 82;
    --default: 38, 186, 171;
    --dark: 33, 33, 33;
    --dark-1: 39, 38, 38;
    --light: 238, 238, 238;
    --pink: 235, 63, 169;
    --brown:201, 147, 32;
    --indigo: 48, 68, 182;
    --purple: 115, 21, 247;
    --amber: 235, 120, 20;
    --gray-0: 250, 250, 250;
    --gray-1: 245, 245, 245;
    --gray-2: 238, 238, 238;
    --gray-3: 224, 224, 224;
    --gray-4: 189, 189, 189;
    --gray-5: 158, 158, 158;
    --gray-6: 117, 117, 117;
    --gray-7: 97, 97, 97;
    --gray-8: 66, 66, 66; 
    --purple-light: 203, 108, 230;
}