<div class="dialog-content">
    <header class="dialog-header">
        <h1 class="dialog-title">Cores disponíveis</h1>
        <button mat-icon-button class="no-shadow" (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <form [formGroup]="formCart">
        <mat-form-field class="width-fix" appearance="fill">
            <mat-label>Versão do produto</mat-label>
            <mat-select formControlName="productVersion" required>
                <mat-option 
                    *ngFor="let productVersion of _product.productVersions" 
                    [value]="productVersion"
                    [disabled]="productVersion.stock.availableUnits == 0"
                    #_productVersion
                >
                    {{ productVersion.color.name }}
                    <div class="color-preview" [ngStyle]="{ 'background-color': _productVersion.value.color.hexCode }"></div>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formCart['controls']['productVersion'].errors?.['required']">
                Esse campo é obrigatório
            </mat-error>
        </mat-form-field>
        <mat-form-field class="width-fix" appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" formControlName="quantity" min="0" required>
            <span matSuffix>unidade(s)</span>
            <mat-error *ngIf="formCart['controls']['quantity'].errors?.['required']">
                Esse campo é obrigatório
            </mat-error>
            <mat-error *ngIf="formCart['controls']['quantity'].errors?.['min']">
                Informe no mínimo 1 unidade
            </mat-error>
            <mat-error *ngIf="formCart['controls']['quantity'].errors?.['max']">
                Informe no máximo 10 unidades
            </mat-error>
        </mat-form-field>
        <button 
            class="btn" 
            color="pink"
            block="true"
            [disabled]="!formCart.valid"
            (click)="addItem()"
            matRipple 
        >
            ADICIONAR AO CARRINHO
        </button>
    </form>
</div>