@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('../../../../assets/css/product-checkout.css');

section.content {
    display: flex;
    flex-direction: column;
    padding: 1% 4%;
    margin-top: 3%;
    width: 92%;
}

.text-details {
    font-family: 'Raleway', sans-serif;
    color: rgb(var(--gray-7));
    text-align: justify;
    font-size: 1.15em;
    line-height: 1.8em;
}

.text-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
}

mat-panel-title {
    color: rgb(var(--gray-6));
    font-size: 1.05em;
    font-family: 'Montserrat', sans-serif;
}