<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>
<section class="content">
    <div class="card-checkout-product">
        <div class="card-product-images">
            <div class="product-brand">
                <img class="product-brand-logo" [src]="product.brand.urlLogo" alt="Brand product">
                <button mat-icon-button class="no-shadow">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
            <div class="product-carousel-images">
                <app-carousel [images]="product.images"></app-carousel>
            </div>
        </div>
        <div class="card-product-description">
            <p class="product-sold-units">
                <span *ngIf="product.soldUnits == 0">Novo</span>
                <span *ngIf="product.soldUnits == 1">1 vendido</span>
                <span *ngIf="product.soldUnits > 1"> +{{ product.soldUnits }} vendidos</span>
            </p>
            <div class="card-product-star-rater">
                <app-star-rater 
                    [ratingAverage]="product.ratingAverage" 
                    [numberOfRaters]="product.numberOfRaters"
                ></app-star-rater>
            </div>
            <h1 class="card-product-name">{{ product.name }}</h1>
            <p class="card-availability-product">
                (
                    <span class="produt-unique-code">Código.: {{ product.code }} | </span>
                    <span class="product-in-stock" *ngIf="product.productVersions[0].stock.availableUnits > 0 ">Em estoque</span>  
                    <span class="product-out-of-stock" *ngIf="product.productVersions[0].stock.availableUnits == 0 ">Em falta</span>  
                )
            </p>
            <p class="product-previous-prince">{{ product.pricing.basePrice | currency: 'BRL' }}</p>
            <h1 class="product-incash-prince">{{ product.pricing.incashPrice | currency: 'BRL' }}</h1>
            <p class="product-incash-discount">
                <span class="discount-value">{{ product.pricing.rateIncashDiscount | percent }} OFF</span>
                Exclusivo no PIX
            </p>
            <p class="product-max-installment">
                Parcele em até 
                <span class="value-installment">
                    {{ product.pricing.maxInstallment }} x de {{ ( product.pricing.installments[product.pricing.maxInstallment -1].amount) | currency: 'BRL'}}
                </span> 
                sem juros
            </p>
            <div class="product-models-available" *ngIf="product.productVersions.length > 1">
                <p class="colors-availability">Modelos disponíveis</p>
                <div class="product-versions-availability">
                    <div matRipple
                        class="product-version-preview" 
                        *ngFor="let version of product.productVersions"
                        (click)="selectVersion(version)"
                        [ngStyle]="{ 'border-color': productVersionSelected == version ? 'rgb(var(--purple))': 'rgb(var(--gray-2))' }"
                    >
                        <div class="color-preview" [ngStyle]="{ 'background-color': version.color.hexCode }"></div>
                        <span>{{ version.stock.availableUnits }} uni</span>
                    </div>
                </div>
            </div>
            <button 
                class="btn" 
                color="pink"
                [disabled]="!formProductVersion.valid"
                matRipple 
            >
                ADICIONAR AO CARRINHO
            </button>
            <app-calculate-shipping></app-calculate-shipping>
        </div>
    </div>
    <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Descrição</mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-details">{{ product.details }}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Outros Detalhes</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="list-property">
                <div class="item-list" >
                    <label class="name-property">Marca</label>
                    <label class="value-property">{{ product.brand.name }}</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Modelo</label>
                    <label class="value-property">{{ product.model }}</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Linha</label>
                    <label class="value-property">{{ product.line }}</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Unidades vendidas</label>
                    <label class="value-property">{{ product.soldUnits }} uni</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Condição do Produto</label>
                    <label class="value-property">{{ product.productCondition }}</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Garantia</label>
                    <label class="value-property">{{ product.warranty }} meses</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Peso</label>
                    <label class="value-property">{{ product.measurements.weight }} kg</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Altura</label>
                    <label class="value-property">{{ product.measurements.height }} mm</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Largura</label>
                    <label class="value-property">{{ product.measurements.width }} mm</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Profundidade</label>
                    <label class="value-property">{{ product.measurements.diameter }} mm</label>
                </div>
                <div class="item-list" >
                    <label class="name-property">Conteúdo da Embalagem</label>
                    <label class="value-property">{{ product.contentPackaging }}</label>
                </div>
            </div>
          </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Especificações</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="list-property">
                <div class="item-list" *ngFor="let specification of product.specifications">
                    <label class="name-property">{{ specification.name }}</label>
                    <label class="value-property">{{ specification.value }}</label>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>