<main>
    <section>
        <header>
            <div class="container vertical-align space-between">
                <h1 class="title-page">Seus Departamentos</h1>
                <button class="btn" color="purple" (click)="router.navigateByUrl('/departments/create')" matRipple>CRIAR NOVO</button>
            </div>
            <div class="container vertical-align space-between">
                <div class="total-elements" matRipple>
                    <h1 class="total">{{ totalElements }}</h1>
                    <span class="label">Total cadastrado</span>
                </div>
                <div class="input-search" matRipple>
                    <mat-icon>search</mat-icon>
                    <input type="text" class="search" [formControl]="formSearch" placeholder="Pesquisar departamentos">
                </div>
            </div>
        </header>
        <app-empty-data 
            *ngIf="listDepartments.isEmpty()" 
            [search]="formSearch.value" 
            message="Clique em CRIAR NOVO para adicionar novos departamentos" 
            title="Nenhum resultado encontrado :("
        ></app-empty-data>
        <table class="ui-table default" *ngIf="!listDepartments.isEmpty()">
            <tr>
                <th>ID</th>
                <th>Departamento</th>
                <th>Nº de Produtos</th>
                <th>Atualizado</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let department of departments">
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>3 cadastrado</td>
                <td>{{ department.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button matTooltip="Editar este departamento">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination></app-pagination>
    </section>
</main>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>