<main>
    <section>
        <h1>Nova cor</h1>
        <form [formGroup]="formColor">
            <mat-form-field class="width-fix" appearance="outline">
                <mat-label>Nome</mat-label>
                <input #nameColor formControlName="name" placeholder="Ex.: Amarelo Claro" minlength="2" maxlength="64" matInput required>
                <mat-error *ngIf="formColor['controls']['name'].errors?.['required']">
                    O nome da cor é obrigatório
                </mat-error>
                <mat-error *ngIf="formColor['controls']['name'].errors?.['minlength']">
                    Informe no mínimo 2 caracteres
                </mat-error>
                <mat-error *ngIf="formColor['controls']['name'].errors?.['maxlength']">
                    Informe no mínimo 64 caracteres
                </mat-error>
            </mat-form-field> 
            <mat-form-field class="width-fix" appearance="outline">
                <mat-label>Código Hexadecimal</mat-label>
                <input #hexCode formControlName="hexCode" placeholder="Ex.: #FFF000" minlength="3" maxlength="7" matInput required>
                <mat-error *ngIf="formColor['controls']['hexCode'].errors?.['required']">
                    O código hexadecimal é obrigatório
                </mat-error>
                <mat-error *ngIf="formColor['controls']['hexCode'].errors?.['minlength']">
                    Informe no mínimo 3 caracteres
                </mat-error>
                <mat-error *ngIf="formColor['controls']['hexCode'].errors?.['maxlength']">
                    Informe no mínimo 6 caracteres
                </mat-error>
            </mat-form-field>
            <div class="row vertical-align">
                <span>Pré-vizualização.: </span>
                <app-color-preview [hexCode]="hexCode.value" [name]="nameColor.value"></app-color-preview>
            </div>
            <label for="color-palette">Não sabe o código? <strong>clique aqui</strong></label>
            <input 
                #color_palette 
                id="color-palette" 
                type="color" 
                (change)="setHexCode.run(color_palette.value, formColor['controls']['hexCode'])" 
            >
            <button 
                class="btn" 
                color="dark" 
                block="true" 
                [disabled]="!formColor.valid"
                (click)="createColor.run(formColor.value)"
                matRipple
            >
                CADASTRAR NOVA COR
            </button>
        </form>
    </section>
</main>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>