.banner {
    background-color: rgb(var(--dark-1));
    padding-top: 10%;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: 3px solid rgb(var(--purple));
}