.circle-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}

.selected-all {
    margin: 2% 0;
}

/* Drag Drop estilos */
.cdk-drag-preview {
    padding: 0.5% 1%;
    background-color: var(--white);
    display: flex;justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cdk-drag-preview .item-description {
    padding: 0 2%;
    display: flex;
    align-items: center;
}

.cdk-drag-preview  .img-preview {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    padding: 4%;
}

.cdk-drag-preview .name-img {
    margin: 0;
    white-space: nowrap;
    font-size: 0.84em;
}

.cdk-drag-preview .url-img {
    text-decoration: none;
    font-size: 0.75em;
    margin: 0;
    color: rgb(var(--gray-6));
}

.cdk-drag-preview .resolution-img {
    font-size: 0.78em;
    color: rgb(var(--gray-6));
    font-style: italic;
    margin: 2px 0;
}

.cdk-drag-preview .size-img {
    color: rgb(var(--primary));
}


.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop.cdk-drop-list-dragging .item-uploaded:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}