@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

@import url('/src/assets/css/colors.css');

div.empty-data * {
    padding: 0;
    margin: 0;
}

div.empty-data {
    padding: 4%;
    text-align: center;
}

div.empty-data img {
    max-width: 34%;
    margin-bottom: 10px;
}

div.empty-data h1.title {
    margin: 4px;
    font-size: 1.4em;
    color: rgb(var(--dark));
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
}

div.empty-data p.message {
    margin: 5px;
    font-size: 1.08em;
    color: rgb(var(--gray-8));
    font-family: 'Figtree', sans-serif;
}

div.empty-data p.search {
    margin: 5px;
    font-size: 1.09em;
    color: rgb(var(--gray-8));
    font-family: 'Ubuntu', sans-serif;
}