<section class="content" *ngIf="listPaginate.isFinally()">
    <h1 class="title">{{ title }}</h1>
    <div class="list-products">
        <button mat-icon-button class="no-shadow" (click)="scrollTo.run(scrollProducts, -480)">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <ul class="cards-list" #scrollProducts>
            <li *ngFor="let product of products">
                <div class="card-product-default">
                    <div class="card-product-header">
                        <button mat-icon-button class="no-shadow">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <app-star-rater [ratingAverage]="product.ratingAverage" [numberOfRaters]="product.numberOfRaters"></app-star-rater>
                    </div>
                    <div class="main-image">
                        <img class="product-image" [src]="product.images[0].url" [alt]="product.images[0].randomName">
                    </div>
                    <div class="card-product-body">
                        <p class="product-name">{{ product.name }}</p> 
                        <p class="previous-prince">De.: {{ product.pricing.basePrice | currency: 'BRL' }}</p>
                        <div class="incash-price-row">
                            <p class="incash-price-label">Por.:</p>
                            <h1 class="incash-price">{{ product.pricing.incashPrice | currency: 'BRL' }}</h1>
                        </div>
                        <p class="incash-discount">
                            <span class="discount-percent">{{ product.pricing.rateIncashDiscount | percent }} OFF</span>
                            á vista no PIX
                        </p>
                        <p class="product-max-installment">
                            Ou em até 
                            <span class="value-installment">
                                {{ product.pricing.maxInstallment }} x de {{ product.pricing.installments[product.pricing.maxInstallment - 1].amount | currency: 'BRL'}}
                            </span> 
                            sem juros no cartão
                        </p>
                        <button class="btn" color="pink" block="true" (click)="goToCheckoutProduct.run(product.code)" matRipple>QUERO COMPRAR</button>
                    </div>
                </div>
            </li>
        </ul>
        <button mat-icon-button class="no-shadow" (click)="scrollTo.run(scrollProducts, +480)">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</section>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>